
.cards{
  background: #bfdbfe;
  width: 410px;
  height: 408px;
  position: absolute;
  left: 290px;
  top: 228px;
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;

}

.voltar {
  color: #1e3a8a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 610px;
  top: 601px;
}
.rectangle-3 {
  background: #bfdbfe;
  width: 700px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: -2px;
}
.ol-fulano {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 169px;
  top: 118px;
  width: 150px;
  height: 44px;
}
.seja-bem-vindos-a-plataforma-de-cursos {
  color: #374151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 169px;
  top: 162px;
  width: 466px;
  height: 45px;
}
.frame {
  width: 95px;
  height: 95px;
  position: absolute;
  left: 574px;
  top: 42px;
  overflow: visible;
}
.image-5 {
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 18px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-152 {
  background: #2a2a40;
  width: 700px;
  height: 91px;
  position: absolute;
  left: 0px;
  top: 749px;
}
.criado-por-gustavo-porto {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 294px;
  top: 776px;
}
