.editar-perfil,
.editar-perfil * {
  box-sizing: border-box;
}
.editar-perfil {
  background: #1e3a8a;
  border-style: solid;
  border-color: #374151;
  border-width: 1px;
  height: 825px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-26 {
  background: #d9d9d9;
  width: 701px;
  height: 356px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame {
  width: 218.93px;
  height: 228px;
  position: absolute;
  left: 241px;
  top: 54px;
  overflow: visible;
  aspect-ratio: 218.93/228;
}
.image-9 {
  border-style: solid;
  border-color: #3401fe;
  border-width: 1px;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 656px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.rectangle-30 {
  background: rgba(217, 217, 217, 0.5);
  width: 439px;
  height: 98px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 711px;
}
.rectangle-31 {
  background: #d9d9d9;
  width: 151px;
  height: 45px;
  position: absolute;
  left: 153px;
  top: 737px;
}
.cancelar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 176px;
  top: 744px;
}
.rectangle-32 {
  background: #000000;
  width: 151px;
  height: 45px;
  position: absolute;
  left: 384px;
  top: 738px;
}
.salvar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 423px;
  top: 745px;
}
