.logo,
.logo * {
  box-sizing: border-box;
}
.logo {
  background: #000000;
  border-style: solid;
  border-color: #374151;
  border-width: 1px;
  height: 830px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.image-5 {
  border-radius: 1000px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 476px;
  height: 476px;
  position: absolute;
  left: 130px;
  top: 193px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
