.conf,
.conf * {
  box-sizing: border-box;
}
.conf {
  background: #7dd3fc;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 974px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-18 {
  background: #bfdbfe;
  opacity: 0.2;
  width: 608px;
  height: 517px;
  position: absolute;
  left: 47px;
  top: 211px;
}
.rectangle-16 {
  background: #1e3a8a;
  border-radius: 30px;
  width: 218px;
  height: 59px;
  position: absolute;
  left: 256px;
  top: 499px;
}
.rectangle-182 {
  background: #d9d9d9;
  width: 495px;
  height: 45px;
  position: absolute;
  left: 111px;
  top: 282px;
}
.rectangle-19 {
  background: #d9d9d9;
  width: 495px;
  height: 45px;
  position: absolute;
  left: 111px;
  top: 388px;
}
.nome-do-usuario {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 226px;
}
.email {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 339px;
}
.modo-escuro {
  color: #c0c0c0;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 269px;
  top: 510px;
}
.configura-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 78px;
}
.rectangle-33 {
  background: rgba(217, 217, 217, 0.5);
  width: 439px;
  height: 98px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 612px;
}
.rectangle-34 {
  background: #d9d9d9;
  width: 151px;
  height: 45px;
  position: absolute;
  left: 153px;
  top: 638px;
}
.cancelar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 176px;
  top: 645px;
}
.rectangle-35 {
  background: #facc15;
  width: 151px;
  height: 45px;
  position: absolute;
  left: 384px;
  top: 639px;
}
.salvar {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 423px;
  top: 646px;
}
