.cadastro,
.cadastro * {
  box-sizing: border-box;
}
.cadastro {
  background: #7dd3fc;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 830px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cadastro2 {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 75px;
  font-weight: 700;
  position: absolute;
  left: 192px;
  top: 270px;
}
.rectangle-18 {
  background: #d9d9d9;
  width: 393px;
  height: 45px;
  position: absolute;
  left: 154px;
  top: 405px;
}
.rectangle-19 {
  background: #d9d9d9;
  width: 393px;
  height: 45px;
  position: absolute;
  left: 154px;
  top: 474px;
}
.nome-do-usuario {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 410px;
}
.email {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 479px;
}
.rectangle-21 {
  background: #d9d9d9;
  width: 393px;
  height: 45px;
  position: absolute;
  left: 154px;
  top: 548px;
}
.senha {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 553px;
}
.rectangle-20 {
  background: #facc15;
  width: 244px;
  height: 54px;
  position: absolute;
  left: 228px;
  top: 613px;
}
.cadastrar {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  left: 268px;
  top: 619px;
}
.image-5 {
  border-radius: 1000px;
  width: 169px;
  height: 169px;
  position: absolute;
  left: 270px;
  top: 58px;
  object-fit: cover;
  aspect-ratio: 1;
}
.ja-possui-uma-conta-logue {
  color: #060606;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 189px;
  top: 716px;
}
