.link-1-curso,
.link-1-curso * {
  box-sizing: border-box;
}
.link-1-curso {
  background: #7dd3fc;
  height: 840px;
  position: relative;
  overflow: hidden;
}
.image-4 {
  width: 243px;
  height: 182px;
  position: absolute;
  left: 18px;
  top: 238px;
  object-fit: cover;
  aspect-ratio: 243/182;
}
.rectangle-15 {
  background: #bfdbfe;
  width: 410px;
  height: 408px;
  position: absolute;
  left: 290px;
  top: 228px;
}
.a-tecnologia-da-informa-o-ti-um-dos-pilares-fundamentais-da-era-digital-desempenhando-um-papel-estrat-gico-na-inova-o-automa-o-e-otimiza-o-de-processos-em-empresas-e-na-sociedade-ela-engloba-um-amplo-conjunto-de-recursos-tecnol-gicos-e-computacionais-utilizados-para-a-coleta-armazenamento-processamento-e-transmiss-o-de-dados-promovendo-efici-ncia-seguran-a-e-intelig-ncia-nas-opera-es-desde-a-infraestrutura-de-hardware-e-software-at-a-ciberseguran-a-e-a-computa-o-em-nuvem-a-ti-impulsiona-a-transforma-o-digital-e-a-tomada-de-decis-es-baseadas-em-dados-seu-impacto-se-estende-a-diversos-setores-como-sa-de-educa-o-finan-as-e-ind-stria-tornando-se-essencial-para-a-competitividade-e-o-crescimento-sustent-vel-das-organiza-es-no-cen-rio-global-a-programa-o-tem-um-papel-central-na-ti-pois-permite-o-desenvolvimento-de-sistemas-aplicativos-e-solu-es-tecnol-gicas-que-impulsionam-a-inova-o-e-a-automa-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 306px;
  top: 238px;
  width: 385px;
  height: 360px;
}
.rectangle-12 {
  background: #facc15;
  border-radius: 30px;
  width: 117px;
  height: 25px;
  position: absolute;
  left: 574px;
  top: 598px;
}
.voltar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 610px;
  top: 601px;
}
.rectangle-3 {
  background: #bfdbfe;
  width: 700px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: -2px;
}
.ol-fulano {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 169px;
  top: 118px;
  width: 150px;
  height: 44px;
}
.seja-bem-vindos-a-plataforma-de-cursos {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 169px;
  top: 162px;
  width: 466px;
  height: 45px;
}
.frame {
  width: 95px;
  height: 95px;
  position: absolute;
  left: 574px;
  top: 42px;
  overflow: visible;
}
.image-5 {
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 18px;
  top: 18px;
  object-fit: cover;
  aspect-ratio: 1;
}
